[package]
name = "pombase-chado-json"
version = "182.4.0"
authors = ["Kim Rutherford <kmr44@cam.ac.uk>"]
edition = "2021"
rust-version = "1.76"

[lib]
name = "pombase"
path = "src/pombase/lib.rs"

[dependencies]
serde_with = "3.5"
serde_derive = "1.0"
serde_json = "1.0"
getopts = "*"
regex = "1.10"
bit-set = "0.5"
chrono = { version = "0.4", default-features = false, features = ["clock", "std", "serde"] }
flate2 = "1.0"
lazy_static = "1.0"
once_cell = "1.19"
uuid = { version = "1.7.0", features = ["v4", "serde", ] }
bytes = "1.0"
tokio = { version = "^1.36.0", features = ["full"] }
async-recursion = "1.0"
deadpool-postgres = "0.12"
deadpool = "0.10"
anyhow = "<1.0.82"
itertools = "0.12"
csv = "1.1.6"
rusqlite = { version = "0.31.0", features = ["bundled", "serde_json"] }
axum = { version = "0.6.20", features = ["macros"] }
axum-macros = "0.3"
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["fs", "normalize-path", "trace"] }
percent-encoding = "2.3.1"

[dependencies.serde]
version = "1.0"
features = ["rc", "derive"]

[dependencies.zstd]
version = "0.13"
features = ["zstdmt"]

[dependencies.flexstr]
version = "0.9.0"
features = ["serde"]

[dependencies.tokio-postgres]
version = "0.7"
features = ["with-serde_json-1", "with-uuid-1"]

[dependencies.r2d2_postgres]
version = "0.18.0"

[dependencies.r2d2]
version = "0.8.9"

[dependencies.reqwest]
version = "0.11"
features = ["json"]

[profile.dev]
opt-level = 0
debug = true
incremental = true
lto = false

[profile.releasedev]
inherits = "release"
opt-level = 1
debug = true
codegen-units = 256
incremental = true
lto = false

[profile.release]
opt-level = 3
codegen-units = 1
debug = true
lto = true
