[package]
name = "pombase-chado-json"
version = "140.2.0"
authors = ["Kim Rutherford <kmr44@cam.ac.uk>"]
edition = "2021"
rust-version = "1.57"

[lib]
name = "pombase"
path = "src/pombase/lib.rs"

[dependencies]
serde_derive = "1.0"
serde_json = "1.0"
getopts = "*"
regex = "1.0"
bit-set = "0.5"
chrono = { version = "0.4", features = ["serde"] }
flate2 = "1.0"
lazy_static = "1.0"
once_cell = "1.2"
uuid = { version = "1.1.2", features = ["v4", "serde", ] }
bytes = "1.0"
tokio = "^1.6.1"
async-recursion = "1.0"
deadpool-postgres = "0.10.2"
deadpool = "0.9"
anyhow = "1.0"
itertools = "0.10"
serde_with = "2.0.1"
csv = "1.1.6"

[dependencies.zstd]
version = "0.12"
features = ["zstdmt"]

[dependencies.rocket]
git = "https://github.com/SergioBenitez/Rocket.git"
version = "0.5.0-rc.2"
features = ["json"]

[dependencies.flexstr]
version = "0.9.0"
features = ["serde"]

[dependencies.serde]
version = "1.0"

[dependencies.tokio-postgres]
version = "0.7"
features = ["with-serde_json-1", "with-uuid-1"]

[dependencies.r2d2_postgres]
version = "0.18.0"

[dependencies.r2d2]
version = "0.8.9"

[dependencies.reqwest]
version = "0.11"
features = ["blocking", "json"]

[profile.release]
opt-level = 2
lto = false

[profile.dev]
opt-level = 0
debug = true
incremental = true
