[package]
name = "pombase-chado-json"
version = "45.9.2"
authors = ["Kim Rutherford <kmr44@cam.ac.uk>"]

[lib]
name = "pombase"
path = "src/pombase/lib.rs"

[dependencies]
serde_derive = "1.0"
serde_json = "1.0"
getopts = "*"
regex = "0.2"
bit-set = "0.5"
chrono = { version = "0.4", features = ["serde"] }
rocket = "=0.3.10"
rocket_codegen = "=0.3.6"
rocket_contrib = "=0.3.6"
reqwest = "0.8"
flate2 = "1.0"
lazy_static = "1.0"

[dependencies.serde]
version = "1.0"
features = ["rc"]

[build-dependencies]
serde_codegen = "0.9"

[dependencies.postgres]
version = "0.15"
features = ["with-serde_json"]

[profile.release]
opt-level = 2
codegen-units = 12

[profile.dev]
opt-level = 0
debug = true
codegen-units = 12
debug-assertions = true
